/*
  disable uppercase
  via. http://srz-zumix.blogspot.jp/2014/09/revealjs-markdown.html
*/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
}

.reveal h3 {
  font-size: 1.40em !important;
}

.reveal section img {
  border: none;
}

.reveal section h2 img {
  height: 1.5em !important;
  vertical-align: bottom !important;
}

.reveal section {
  line-height: 1.0 !important;
}
